<a href="https://colab.research.google.com/github/pthkbs123/SkillTreePython/blob/main/2-2.%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98%20%EC%9E%90%EB%A3%8C%ED%98%95_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2-2.파이썬의 자료형:문자열
---
* 날짜: 2022-03-28
* 이름: 박태현

## 개념정리
---

이번 시간에 다룰 자료형은 문자열 (String) 자료형 입니다. 문자열 도한 숫자와 마찬가지로 기본적인 데이터 타입이며 광범위하게 사용됩니다. 문자열 문자들의 집합으로 이루어져 있습니다.

### (1) 문자열 생성하기


* 작은따음표 `'` 

```
a = 'hello'
print(a), type(a)
```

In [2]:
a = 'hello'
a, type(a)

('hello', str)

* 큰따음표 `"`

```
a = "hello"
print(a), type(a)
```

In [3]:
a = "hello"
a, type(a)

('hello', str)


* 작은따음표 세개 `'''`

```
a = '''hello'''
print(a), type(a)
```

In [5]:
a = '''hello'''
a, type(a)

('hello', str)

* 큰따음표 세개 `"""`

```
a = """hello"""
print(a), type(a)
```

In [7]:
a = """hello"""
a, type(a)

('hello', str)

#### **작은따음표나 큰따음표가 포함된 문자열**

위에서 우리는 작은따음표나 큰따음표를 이용해서 문자열을 생성하였습니다. 그런데 언제 작은따음표를 쓰고, 큰따음표를 써야할까요? 대부분의 경우 사용자의 편의에 맞춰서 사용하시면 되지만 특정 상황에 따라 적절히 선택해서 문자열을 생성해야 합니다. 

* 작은따음표 포함시키기

```
a = "It's nice day!"
print(a)
```

In [8]:
a = "it's nice day!"
a

"it's nice day!"

* 큰따음표 포함시키기

```
a = 'he said, "nice day!"'
print(a)
```

In [10]:
a = 'he said, "nice day!"'
a

'he said, "nice day!"'

#### **연속된 따옴표의 사용**

연속된 따옴표는 표현의 자유도가 높습니다. 우선 여러줄의 문자열을 생성할 수 있습니다. 

* 작음 따옴표 / 큰 따옴표

따옴표 한개를 사용할 때 줄 바꿈을 적용하면 에러 메시지가 뜹니다.

```
a = 'nice
day !'
```

In [14]:
a = 'nice
day!'

SyntaxError: ignored

* 작음 따옴표 / 큰 따옴표 세개

따음표 세개를 쓰면 줄 바꿈이 가능합니다.

```
a = '''
nice
day !
'''
```

In [17]:
a = ''' nice
day 
!
'''
print(a)

 nice
day
!

또한 문자열 안에 큰따음표나 작은따옴표를 자유롭게 포함할 수 있습니다.

```
a = '''
It's
nice
day !
'''
```

In [18]:
a = '''
it's 
nice
day
!
'''
print(a)

it's
nice
day
!

### (2) 이스케이프 코드

이스케이프 코드는 프로그래밍할 때 사용할 수 있도록 미리 만들어 둔 문자조합 입니다. 출력물을 보기 좋게 정렬하는 용도로 사용되며 주로 사용되는 이스케이프 코드를 정리하면 아래와 같습니다. 

* `\n` : 문자열 내에서 줄을 바꿉니다.

```
a = 'nice\nday!'
print(a)
```

In [20]:
a = 'nice \nday'
print(a)

nice
day

* `\t` : 문자열 내에서 탭 간격만큼 띄어쓰기 합니다.

```
a = 'nice\tday!'
print(a)
```

In [22]:
a = 'nice\tday'
print(a)

nice	day

* `\\` : 문자열 내에서 `\` 를 문자 그대로 표시합니다.

```
a = 'nice\\day!'
print(a)
```

In [23]:
a = 'nice\\day'
print(a)

nice\day

* `\'` : 문자열 내에서 작은 따음표 `'` 를 문자 그대로 표시합니다.

```
a = 'nice\'day!'
print(a)
```

In [24]:
a = 'nice\'day'
print(a)

nice'day

* `\"` : 문자열 내에서 큰따음표 `"` 를 문자 그대로 표시합니다.

```
a = 'nice\"day!'
print(a)
```

In [25]:
a = 'nice\"day'
print(a)

nice"day

### (3) 문자열 포매팅(Formatting)

문자열 안에 변수가 포함된 경우를 생각해 보겠습니다. 

```
It's nice day!
It's good day!
It's happy day!
```

위 문장들의 공통 값은 `It's --- day` 이고 변하는 값들은 `nice`, `good`, `happy` 가 됩니다. 

이 때 변하는 값들을 문장 내에서 처리해 주는 것이 포매팅 입니다. 아직까진 어떤 의미인지 잘 이해가 안갈 수 있습니다. 여러가지 방법들을 하나씩 따라하면서 감을 잡아 봅시다.

####  **`%`  이용하기**

변수는 `a` 이고 전체 문장은 `s`입니다. 문장내에 변수를 `%s`로 두고 문장 끝에 %s에 들어갈 것이 `a`임을 표시해 줍니다.

```
a = 'nice'
s = "It's %s day!"%(a)
print(s)
```

In [31]:
a = 'nice'
s = "It's %s day!"%a
print(s)

It's nice day!

변수 `b`와 `c`를 추가하고 각각 `good`, `happy`로 바인딩 합시다. 문자 끝에 무엇을 넣어줄지 정해 다양한 변수를 지정할 수 있습니다. 

```
a = 'nice'
b = 'good'
c = 'happy'
s = "It's %s day!"%(b)
print(s)
```

In [29]:
a = 'nice'
b = 'good'
c = 'happy'
s = "It's %s day!"%(a)
print(s)

It's nice day!

두개 이상의 변수도 다룰 수 있습니다. 

```
a = 'nice'
b = 'good'
c = 'happy'
s = "It's %s, %s, and %s day!"%(a, b, c)
print(s)
```

In [32]:
a = 'nice'
b = 'good'
c = 'happy'
s = "It's %s, %s, and %s day!"%(a, c, b)
print(s)

It's nice, happy, and good day!

이 때 문장 내에 `%s`로 변수를 지칭하는 것을 볼 수 있습니다. `s`가 뜻하는 것은 `string`입니다. 즉, 우리가 변수로 사용할 `a`, `b`, `c`가 문자열(string) 이기 때문에 `%s`로 문장 내에 변수를 표시합니다. 

그렇다면 문자열이 아닌 정수일 때는 어떻게 표시할까요? 이 때는 `%d`로 표시합니다.



```
a = 2
s = '%d apples.'%(a)
print(s)
```

In [37]:
a = 2
s = '%d apples.'%(a)
print(s)
# %s로 하더라도(자료형이 맞지 않더라도)알아서 수정해줌

2 apples.

이 밖에 `a`의 자료형에 따라 적절한 코드를 사용합니다. 

| 코드 | 설명 |
| --|-- |
|%s|	문자열(String)|
|%c|	문자 1개(character)|
|%d|	정수(Integer)|
|%f	|부동소수(floating-point)|
|%o	|8진수|
|%x	|16진수|
|%%	|Literal % (문자 % 자체)|

이제 문자열 포매팅에 대한 기본적인 이해는 되었습니다. 더 많은 포매팅 방법을 알아보고 본인에게 가장 편리한 방법을 사용해 보도록 합시다.

#### **`.format()` 이용하기**


이 방식에서 문자열 안의 변수는 `{}` 로 표현됩니다. 그리고 어떤 변수가 오는 지는 `.format()`을 이용합니다. 이 방식은 이전과 달리 변수의 타입에 관계없이 항상 `{}` 기호를 써서 나타냅니다. 


```
a = 'nice'
s = "It's {} day!".format(a)
print(s)
```

In [36]:
a = 'nice'
s = "it's {} day!".format(a)
print(s)

it's nice day!

* 여러개의 변수

```
a = 3
b = 'apples'
s = 'there are {} {}'.format(a, b)
print(s)
```

In [40]:
a = 3
b = 'apples'
s = 'there are {} {} and something'.format(a,b)
print(s)

there are 3 apples and something

* 괄호 인덱싱 : 변수를 나타내는 괄호 `{}` 안에 번호로 인덱싱을 할 수 있습니다.  


```
a = '3'
b = 'apples'
c = 'oranges'
s = 'there are {0} {1} and {0} {2}'.format(a, b, c)
print(s)
``` 
이 때 `{0}`, `{1}`, `{2}` 는 차례대로 `a`, `b`, `c` 가 됩니다.

In [45]:
a = '3'
b = 'apples'
c = 'oranges'
s = 'there are {0} {1} and {0} {2}'.format(a, b, c)
print(s)

there are 3 apples and 3 oranges

* 괄호 태그 : 변수를 나타내는 괄호 `{}` 안에 태그로 인덱싱을 할 수 있습니다.

```
a = '3'
b = 'apples'
c = 'oranges'
s = 'there are {num} {fruit1} and {num} {fruit2}'.format(num=a, fruit1=b, fruit2=c)
print(s)
```

In [46]:
a = '3'
b = 'apples'
c = 'oranges'
s = 'there are {num} {fruit1} and {num} {fruit2}'.format(num=a, fruit1=b, fruit2=c)
print(s)

there are 3 apples and 3 oranges

#### **f-string 문법**


Python 3.6 이상의 버전부터 f-string 문법을 사용할 수 있게 되었습니다. 문자열 앞에 접두사 `f`를 붙이고 문장내에 변수를 중괄호 `{}`로 처리합니다. 그리고 어떤 변수가 들어갈지를 중괄호 `{}` 안에 바로 작성해줍니다. 

 

```
a = '3'
b = 'apples'
c = 'oranges'
s = f'there are {a} {b} and {a} {c}'
print(s)
```

In [47]:
a = '3'
b = 'apples'
c = 'oranges'
s = f'there are {a} {b} and {a} {c}'
print(s)

there are 3 apples and 3 oranges

### (4) 인덱싱과 슬라이싱

#### **인덱싱 (indexing)**

문자열의 인덱싱(indexing) 이란 주어진 문자열의 특정 값의 위치를 가리키는 것입니다. 파이썬은 `0`부터 시작함을 유의하세요. 아래 그림과 같이 첫번째 문자는 `0`번째 index를 가지고 순차적으로 증가합니다. 

![](https://github.com/yebiny/SkillTreePython/blob/main/imgs/2-2-1.PNG?raw=true)

* 양수 인덱스 : 양수 값에 위치한 문자를 인덱싱합니다.

```
a = 'nice day!'
print(a[5])
```

In [48]:
a = 'nice day!'
print(a[5])

d

* 음수 인덱스 : 마지막 문자는 -1 이고 마지막에서 두번째는 -2 가 됩니다. 

```
a = 'nice day!'
print(a[-1])
print(a[-4])
```

In [49]:
a = 'nice day!'
print(a[-1])
print(a[-4])

!
d

#### **슬라이싱 (Slicing)**

문자열의 슬라이싱(Slicing) 은 문자열 내의 특정 구간을 잘라내는 것입니다. 슬라이싱에서의 순서는 인덱싱과 마찬가지로 0부터 시작합니다. 하지만 슬라이싱의 인덱스는 문자열의 위치를 가리키는게 아니라 문자열 사이사이의 칸막이를 가리키는 것으로 이해하셔야 헷갈리지 않습니다. 아래 그림을 참고하세요.

![](https://github.com/yebiny/SkillTreePython/blob/main/imgs/2-2-2.PNG?raw=true)

*  `a[start:end]` : 문자열 `a`의 `start` 부터 `end`까지 구간을 슬라이싱합니다.

```
a = 'nice day!'
print(a[1:4])
```

In [50]:
a = 'nice day!'
print(a[1:4])

ice

만약  `start` 나 `end` 값을 적지 않으면 어떻게 될까요?

```
a = 'nice day!'
print(a[:4])
```

`start` 값을 적지 않았지만 자동으로 `0`으로 인식하여 슬라이싱 합니다. 반대로 `end` 값을 적지 않으면 마지막(칸막이)을 뜻하는 `-1`이 인식됩니다.

In [53]:
a = 'nice day!'
print(a[:4]) # start의 기본값은 0

nice

In [55]:
print(a[4:])
print(a[:5]) # end의 기본값은 끝

 day!
nice


따라서 아래 코드는 처음부터 끝까지 슬라이싱 하라는 것과 동일합니다. 

```
a = 'nice day!'
print(a[:])
```

In [52]:
a = 'nice day!'
print(a[:])

nice day!

[* start : end : step]

a[::2] 형식. step 만큼 이동하면서 해당하는 것을 가져 오는데, 앞의 꼴은 인덱스 값 0 부터 2만큼 이동한 후 값을 가져오고,
a[1::3] 이라면 인덱스 값 1부터 부터 3만큼 이동한 후 해당 인덱스 값을 가져온다.

In [99]:
a = 'abcabcabcabc'
print(a[::4])

abc

### (5) 문자열 연산

문자열도 수치자료형처럼 몇가지 연산이 가능합니다. 더하기 `+`와 곱셈 `*`을 사용할 수 있습니다.


#### **더하기**

* `a+b` : 문자열 `a`와 문자열 `b`를 하나의 문자열로 변환합니다.

```
a = 'nice'
b = 'day!'
print(a+b)
```

In [59]:
a = 'nice '
b = 'day!'
print(a+b)

nice day!

#### **곱하기**

* `a*b` 문자열 `a`를 정수 `b`번 반복합니다. 

```
a = 'nice'
b = 'day!'
print(a*3+b)
```

In [60]:
print(a * 3 + b)

nice nice nice day!

### (6) 문자열 메서드


아래 표와 같이 문자열 메서드는 아주 다양합니다. 여기서는 자주 쓰이는 몇가지 함수만 간단히 배워보도록 합니다. 만약 코드를 작성하면서 더 다양한 문자열 메서드가 필요할 경우엔 표를 참고하고 해당 함수를 검색해보고 사용방법을 익혀가는 것도 좋습니다.

*소개되는 것은 중요하니 외워둘 것*

|종류|함수|
|--|--|
|string calculation| `len()`, `min()`, `max()`, `count()`|
|encoding/decoding| `encode()`, `decode()`|
|string search|`startswith()`, `endswith()`, `find()`, `rfind()`, `index()`, `rindex()`|
|number/character|`isalnum()`, `isalpha()`, `isdigit()`, `isnumeric()`, `isdecimal()`|
|lower/upper| `islower()`, `isupper()`, `lower()`, `upper()`, `swapcase()`, `istitle()`, `title()`, `capitalize()`|
|space/strip| `isstrip()`, `rstrip()`, `strip()`, `isspace()`, `center()`|
|split/ join / fill | `split()`, `splitlines()`, `replace()`, `join()`, `zfill()`, `ljust()`, `rjust()`|

#### **String calculation**

* `len(x)` : 문자열 `x`의 **길이**를 반환합니다.

```
x  = 'abcde'
print(len(x))
```

In [61]:
x = 'abcde'
print(len(x))

5

* `max(x)` : 문자열 `x`의 **최대값**을 반환합니다.


문자열의 정렬 순서는 **기호-숫자-대문자-소문자** 입니다. 먼저 정렬 되는 문자가 최소값으로, 나중에 정렬되는 값이 최대값이 됩니다.


```
x  = 'abcde'
print(max(x))
```

In [62]:
x  = 'abcde'
print(max(x))

e

#### **String search**

* `x.startswith(w)`:  문자열 `x`가 특정 문자 `w`로 **시작되는지** 여부를 확인합니다.

```
a = 'abcde'
print(a.startswith('abc'))
```

In [63]:
a = 'abcde'
print(a.startswith('abc'))

True

* `x.endswith(w)`:  문자열 `x`가 특정 문자 `w`로 **끝나는지 **여부를 확인합니다.

```
a = 'abcde'
print(a.endswith('abc'))
```

In [64]:
a = 'abcde'
print(a.endswith('abc'))

False

#### **Lower/upper**

* `x.lower()` : 문자열 `x`의 모든 알파벳을 **소문자**로 변환합니다.

```
a = 'ABCDE'
print(a.lower())
```

In [66]:
a = 'ABCDE'
print(a.lower())

abcde

* `x.upper()` : 문자열 `x`의 모든 알파벳을 **대문자**로 변환합니다.

```
a = 'abcde'
print(a.upper())
```

In [67]:
a = 'abcde'
print(a.upper())

ABCDE

* `x.capitalize()` : 문자열 `x`의 **첫글자**를 **대문자**로 변환합니다.

```
a = 'abcde'
print(a.capitalize())
```

In [68]:
a = 'abcde'
print(a.capitalize())

Abcde

#### **split/join/replace**

* `x.split(sep=w)` : 문자열 `x`를 문자열 `w` 를 기준으로 분할하여 리스트 형태로 반환합니다. `sep` 의 디폴트 값은 '` `' (공백) 입니다.

이 때 `리스트` 라는 타입은 아직 배우지 않았습니다. 파이썬의 여러가지 자료형 중 하나이며 이에 대한 자세한 내용은 다음 시간에 배우도록 합니다. 

```
a ='nice day!'
print(a.split())
```

In [73]:
a ='nice day!'
print(a.split(sep='e')) #이러면 e는 없어진다

['nic', ' day!']

* `w.join(l)` : 리스트 `l`의 값들을 문자열로 변환합니다. 변환 시 값 사이에 문자열 `w`를 끼어 넣습니다.

```
l = ['nice', 'day!']
print(' '.join(a))
```

In [74]:
l = ['nice', 'day!']
print(' '.join(l))

nice day!

* `a.replace(w1, w2)` :  문자열 `a` 에 포함된 문자열 `w1`을 새로운 문자열 `w2`로 변경합니다. 

```
a = 'nice day!'
print(a.replace('nice', 'good'))
```

In [71]:
a = 'nice day!'
print(a.replace('nice', 'good'))

good day!

## 문제풀이
---

**예제 01**

아래 문장을 출력하는 코드를 작성하세요

```
/menu/ "Americano" : 1000
```

In [75]:
print('/menu/ "Americano" : 1000')

/menu/ "Americano" : 1000

**예제 02**

아래 문장을 출력하는 코드를 **이스케이프 코드**를 사용하여 작성하세요

```
/menu/
"Americano" : 1000
"Latte" : 2000
"Ade" : 2500
```

In [77]:
print('/menu/\n "Americano" : 1000 \n "Latte" : 2000 \n "Ade" : 2500')

/menu/
 "Americano" : 1000
 "Latte" : 2000
 "Ade" : 2500

**예제 03**

아래 문장을 출력하는 코드를 이스케이프 코드를 **사용하지 않고** 작성하세요

```
/menu/
"Americano" : 1000
"Latte" : 2000
"Ade" : 2500
```

In [78]:
print('''
/menu/ 
"Americano" : 1000  
"Latte" : 2000  
"Ade" : 2500
''')

/menu/
"Americano" : 1000
"Latte" : 2000
"Ade" : 2500

**예제 04**

변수 `num`과 `menu`가 아래와 같이 바인딩 되어 있습니다. **문자열 연산**을 이용해서 코드를 작성하세요

```
>> num = 3
>> menu = americano
>> # 코드작성
3 americano please.
```

In [81]:
num = '3 '
menu = 'americano'
order = num + menu
print(order, 'please.')

3 americano please.

**예제 05**

변수 `num`과 `menu`가 아래와 같이 바인딩 되어 있습니다. **`%` 포맷팅**을 이용해서 코드를 작성하세요

```
>> num = 3
>> menu = americano
>> # 코드작성
3 americano please.
```

In [82]:
print('%s %s please.'%(num, menu))

3  americano please.

**예제 06**

`예제 05` 문제를  **`.format()` 포맷팅** 을 이용해서 코드를 작성하세요

In [83]:
print('{} {} please.'.format(num, menu))

3  americano please.

**예제 07**

`예제 05` 문제를  **`f-string` 문법** 을 이용해서 코드를 작성하세요

In [84]:
print(f'{num} {menu} please.')

3  americano please.

**예제 08**

다음 코드를 실행해보세요. 오류가 나는지 쓰고, 그 이유를 서술하세요.

```
color = 'red'
w = '%i apples'%color
print(w)
```

In [89]:
print('%i 와 color는 자료형이 달라서. 문자형이므로 %s를 사용해야 함')

%i 와 color는 자료형이 달라서. 문자형이므로 %s를 사용해야 함

**예제 09**

다음 코드를 실행해보세요. 오류가 나는지 쓰고, 그 이유를 서술하세요.

```
num = 5
w = '%f apples'%num
print(w)
```

In [90]:
print('%f 와 num는 자료형이 달라서. 정수형이므로 %d를 사용해야 함')

%f 와 num는 자료형이 달라서. 정수형이므로 %d를 사용해야 함


**예제 10**

`a`가 바인딩한 문자열의 첫번째와 마지막 문자를 출력하세요
```
a = 'Birthday'
```

In [105]:
a = 'Birthday'
fir_num = a[:1]
last_num = a[7:]
print(fir_num , last_num)

B y

**예제 11**

`a`가 바인딩한 문자열의 뒤 3자리만 출력하세요

```
a = 'Birthday'
```

In [107]:
print(a[-3:])

day

**예제 12**

`a`가 바인딩한 문자열에서 `2`만 출력하세요


```
a = '123123123'
```

In [109]:
a = '123123123'
print(a[1::3])

222

**예제 13**

문자열을 입력하면 거꾸로 출력하는 코드를 작성하세요

```
>> Enter sentence : hello
he said, olleh
```

In [111]:
sentence = input("Enter sentence : ")
print('he said,', sentence[::-1])

Enter sentence : hello
he said, olleh

**예제 14**

다음과 같이  `input()` 함수를 이용해 변수를 적용하여 문장을 출력하는 코드를 작성하세요

* 예시 1

```
>> how's the day? : nice
It's nice day!
```

* 예시 2

```
>> how's the day? : sunny
It's sunny day!
```

In [113]:
today = input("how'the day ? : ")
print("it's", today , 'day!')

how'the day ? : nice
it's nice day!

**예제 15**

문자열을 입력하면 끝에서 2개 문자만 출력하는 
코드를 작성하세요

* 예시 1

```{.python}
>> Enter sentence : hello
last 2  : lo
```

* 예시 2 

```
>> Enter sentence : nice day!
last 2 : y!
```

In [115]:
sentence_2 = input("Enter sentence : ")
print('last 2 :', sentence_2[-2:])

Enter sentence : nice day!
last 2 : y!

**예제 16**

아래 코드 결과를 예상해보고 직접 실행해보세요.

```
a = ''
a = a+'what'
a = a+'?'
print(a)
```

In [117]:
print('a = what?')

a = what?

**예제 17**

아래 바인딩된 값 `a`, `b`를 이용해 아래와 같이 출력해보세요(**문자열 연산**을 이용하세요)
```
>> a = 'me'
>> b = 'you'
>> # 코드작성
meyouyouyouyouyou
```

In [118]:
a = 'me'
b = 'you'
print(a + b * 4)

meyouyouyouyou


**예제 18**

아래 바인딩된 값 `a`, `b`를 이용해 아래와 같이 출력해보세요(**문자열 연산**을 이용하세요)
```
>> a = 'me'
>> b = 'you'
>> # 코드작성
youmeyoumeyoumeyoumeyoumeyoumeyoumeyoume
```

In [122]:
new_a_b = 8 * (b + a)
print(new_a_b)

youmeyoumeyoumeyoumeyoumeyoumeyoumeyoume

**예제 19**

코드번호는 숫자가 나열된 문자열의 **길이** 곱하기 **최대값**으로 만들어집니다.
코드번호를 생성하는 코드를 작성하세요

```
>> 숫자를 입력하세요 : 123456
코드번호는 36 입니다.
```

In [127]:
num = input("숫자를 입력하세요 : ")
len_num = len(num)
max_num = max(num)
new_code = int(len_num) * int(max_num)
print('코드 번호는', new_code, '입니다')

숫자를 입력하세요 : 123456
코드 번호는 36 입니다

**예제 20**

파일들의 이름이 아래와 같이 바인딩 되어 있습니다. 확장자가 파이썬 `.py`로 끝나는 파일인지 확인하는 코드를 작성하세요

```
a = 'test.py'
b = 'train.py'
c = 'img.jpg'
```

In [131]:
a = 'test.py'
b = 'train.py'
c = 'img.jpg'
print(a.endswith('.py'), b.endswith('.py'), c.endswith('.py'))

True True False

**예제 21**

아래 문자열을 **대문자**로 변경하세요

```
a = 'my_little_cat'
```

In [132]:
a = 'my_little_cat'
print(a.upper())

MY_LITTLE_CAT

**예제 22**

아래 문자열의 **첫글자만 대문자**로 변경하세요


```
a = 'my_little_cat'

```

In [133]:
print(a.capitalize())

My_little_cat

**예제 23**

금액이 아래와 같이 바인딩되어 있습니다. 쉼표`,`를 **제거 후** `int` 값으로 **변환**하세요

```
a = '542,322,000'
```

In [140]:
a = '542,322,000'
del_1 = (a.split(sep = ','))
del_2 = ''.join(del_1)
del_fin = int(del_2)
print(type(del_fin))

<class 'int'>

**예제 24**

`a`가 바인딩한 문자열에서 언더바 `_` 기준으로 단어를 나누어 **리스트에 저장**하세요.

```
a = 'today_is_my_birthday'
```

In [142]:
a = 'today_is_my_birthday'
print(a.split('_'))

['today', 'is', 'my', 'birthday']

**예제 25**

휴대폰번호가 문자열로 저장이 되어있습니다. 이를 **번호 형식으로 변환**하는 코드를 작성하세요


|번호|번호 형식 변환|
|--|--|
|'010,1234,5678'|'010-1234-5678'|
|'010,3333,3333'|'010-3333-3333'|

In [143]:
phone_num = '010,1234,5678'
phone_num2 = '010,3333,3333'

print(phone_num.replace(',' , '-') , phone_num2.replace(',' , '-'))

010-1234-5678 010-3333-3333