<a href="https://colab.research.google.com/github/pthkbs123/SkillTreePython/blob/main/5-2.%ED%81%B4%EB%9E%98%EC%8A%A4_%ED%81%B4%EB%9E%98%EC%8A%A4%EB%8D%94%EB%8B%A4%EB%A3%A8%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5-2.클래스: 클래스 더 다루기
---
* 날짜: 2022-04-07
* 이름: 박태현

## 개념정리
---

저번 시간까지 배운 클래스 내용만으로도 충분히 클래스를 만들고 코드를 읽을 수 있습니다. 하지만 클래스에는 더 많은 유용한 기능들이 있습니다. 이를 이해하면 더 쉽고 유용하게 파이썬 코드를 작성할 수 있을 겁니다.

###**(1) 매직 메소드**

매직 메소드는 파이썬에서 미리 정의해 놓은 메소드입니다. 이 메소드들은 각각이 지니는 고유 기능들이 있습니다.

지난 시간에 배운 `__init__`이라는 메소드 또한 매직 메소드의 일종입니다. 

매직메소드 개수는 꽤 많고 각각 복잡한 일들을 하기 때문에 이번시간에 다 다루지는 않겠습니다. 다만 자주 쓰이는 몇가지 메소드를 함께 보도록 합니다.

#### **클래스의 덧셈**

특정 숫자를 소개하는 클래스 `Mynumber()`를 아래와 같이 정의해 봅시다. 

```
class MyNumber():
  def __init__(self, num):
    self.num = num
  def intro(self):
    print(f"my num is {self.num}")
```

In [ ]:
class MyNumber():
  def __init__(self, num):
    self.num = num
  def intro(self):
    print(f"my num is {self.num}")

* `num` 값이 2인 인스턴스 생성

```
a = MyNumber(2)
a.intro()
```

In [ ]:
a = MyNumber(2)
a.intro()

my num is 2

* `num` 값이 5인 인스턴스 생성

```
b = MyNumber(5)
b.intro()
```

In [ ]:
b = MyNumber(5)
b.intro()

my num is 5

* 인스턴스끼리 더하기

인스턴스 `a`와 `b`를 더하고 싶습니다. 더해서 7이란 값이 나오면 좋겠네요. 한번 덧셈을 해봅시다.

```
a+b
```

In [ ]:
a+b

TypeError: ignored

에러가 뜹니다. 인스턴스가 덧셈이 가능하게 하도록 하려면 `__add__` 메소드를 이용해야 합니다.

`+`으로 연결된 다른 인스턴스는 `other`로 자동 연결됩니다. `+`를 함으로써 우리는 인스턴스의 `num`값을 더하고 싶으니 이를 `return`해 주면 됩니다.

```
class MyNumber():
  def __init__(self, num):
    self.num = num
  def intro(self):
    print(f"my num is {self.num}")

  def __add__(self, other):
    return self.num+other.num
```

In [ ]:
class MyNumber():
  def __init__(self, num):
    self.num = num
  def intro(self):
    print(f"my num is {self.num}")

  def __add__(self, other):
    return self.num+other.num

* `num` 값이 2인 인스턴스 생성

```
a = MyNumber(2)
a.intro()
```

In [ ]:
a = MyNumber(2)
a.intro()

my num is 2

* `num` 값이 5인 인스턴스 생성

```
b = MyNumber(5)
b.intro()
```

In [ ]:
b = MyNumber(5)
b.intro()

my num is 5

* 인스턴스끼리 더하기

인스턴스 `a`와 `b`를 더하고 싶습니다. 더해서 7이란 값이 나오면 좋겠네요. 한번 덧셈을 해봅시다.

```
a+b
```

In [ ]:
a+b

7

이제 7이란 값이 제대로 나오는 것을 볼 수 있습니다.

#### **클래스의 문자**

* `__str__`

이 메소드는 인스턴스의 출력을 지정해 줍니다. 위에서 정의한 인스턴스 a 를 출력해보겠습니다. 

```
print(a)
```

In [ ]:
print(a)

<__main__.MyNumber object at 0x7fc47f79ef90>

이번에는 클래스 안에 `__str__` 메서드를 추가해 보겠습니다. 현재 `intro` 메서드가 출력을 수행하고 있어서 기능이 겹치네요. 이를 바꾸도록 하겠습니다.

```
class MyNumber():
  def __init__(self, num):
    self.num = num
  def __str__(self):
    return f"my num is {self.num}"
  def __add__(self, other):
    return self.num+other.num
```

In [ ]:
class MyNumber():
  def __init__(self, num):
    self.num = num
  def __str__(self):
    return f"my num is {self.num}" # 출력할 때의 리턴
  def __add__(self, other):
    return self.num+other.num # + 연산할 때의 리턴

* `num` 값이 2인 인스턴스 생성하고 출력하기

```
a = MyNumber(2)
a.intro()
```

In [ ]:
a = MyNumber(2)
print(a)

my num is 2

### **(2) 상속**



#### **상속이란**

상속이란 이미 만들어진 클래스를 그대로 받아와 사용할 수 있을 뿐 아니 세부적으로 변경할 수도 있게 하는 것입니다. 

이 때 상속받아온 상위 클래스를 부모 클래스, 하위클래스를 자식 클래스라 합니다. 

위에서 만든 `MyNumber`클래스를 상속받아 봅시다. 상속 받기 위해서는 클래스 이름을 정의할 때 상속받을 클래스를 작성해 줍니다. 

```
  
class EvenNumber(MyNumber): # 상속받아오기
  def __str__(self): # __str__ 메서드는 변경하기
    return f"my num is {self.num}. and it is even."

class OddNumber(MyNumber):
  def __str__(self): # __str__ 메서드는 변경하기
    return f"my num is {self.num}. and it is odd."

```

In [ ]:
class EvenNumber(MyNumber): # 상속받아오기
  def __str__(self): # __str__ 메서드는 변경하기
    return f"my num is {self.num}. and it is even."

class OddNumber(MyNumber):
  def __str__(self): # __str__ 메서드는 변경하기
    return f"my num is {self.num}. and it is odd."

* 인스턴스 생성

In [ ]:
a = EvenNumber(2)
print(a)

b = OddNumber(3)
print(b)

my num is 2. and it is even.
my num is 3. and it is odd.

* 인스턴스  출력하기

같은 부모에게서 상속 받아 왔지만 `__str__`의 반환값이 다르기 때문에 출력이 다른 것을 확인할 수 있습니다.

```
print(even)
print(odd)
```

In [ ]:
print(a)
print(b)

my num is 2. and it is even.
my num is 3. and it is odd.

* 또한 부모클래스에 있던 `__add__` 메소드도 사용할 수 있습니다. 

```
even+odd
```

In [ ]:
a+b

5

# 문제 풀이

### 1. MyNumber 클래스에 빼기, 곱하기, 나누기 추가 구현

### 2. 클래스 Vector 만들기
  * a = Vector([1,2,3] 일 때, 
  * print(a) -> vector([1,2,3]).
  * a + a -> vector([2,4,6]).
  * a * b -> vector([1,4,9])

In [ ]:
class MyNumber():
  def __init__(self, num):
    self.num = num
  def __str__(self):
    return f"my num is {self.num}"

  def __add__(self, other):
    return self.num+other.num

  def __sub__(self, other): 
    return self.num - other.num
  
  def __mul__(self, other):
    return self.num * other.num

  def __truediv__(self, other):
    return self.num / other.num

In [ ]:
a = MyNumber(8) 
b = MyNumber(2)

In [ ]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

10
6
16
4.0

In [ ]:
class Vector():
  def __init__(self, list_num) : 
    self.list_num = list_num

  def __str__(self) :
    return f'vector({self.list_num})'

  def __add__(self, other) :
    result = []

    for i in range(len(self.list_num)) : 
      result.append(self.list_num[i] + other.list_num[i])

    return result
  
  def __mul__(self, other) : 
    result = []

    for i in range(len(self.list_num)) : 
      result.append(self.list_num[i] * other.list_num[i])
    
    return result

a = Vector([1,2,3])
b = Vector([4,5,6])

In [ ]:
a + b

[5, 7, 9]

In [ ]:
a * b

[4, 10, 18]

In [ ]:
print(a)

vector([1, 2, 3])